


.wrap4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
}

.box4-1{
    border-bottom: 2px solid goldenrod;
}

.box4-1 h2{
    font-style: italic;
}

.box4-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(83, 81, 81, 0.41);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    gap: 20px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgba(163, 163, 163, 0.8);
}

.box4-ico{
    margin-top: 2rem;
    width: 100px;
    height: 90px;
}

.box4_tags{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

ul{
    padding-right: 3rem;
}

.tags{
    text-decoration: none;
    color: white;
}

.bl_title, .bc_title, .br_title{
    font-size: 20px;
    color: goldenrod;
}

