
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

#productInfo {
    font-family: 'TheJamsil5Bold';
    background-color: black;
    color: white;
    margin-top: 15rem;
    margin-bottom: 20rem;
}

.box3 {
    position: relative;
    overflow: hidden;
    width: 56.25rem;
    height: 15.625rem;

    background: rgba(83, 81, 81, 0.41);
    border-radius: 1.25rem;
}

.wrap3-1{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}

.box3-txt1{
    position: absolute;
    width: 50rem;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
.box3-txt2{
    position: absolute;
    width: 50rem;
    margin-top: 6rem;
}
.box3-txt3{
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 10rem;
    position: absolute;
    width: 50rem;
    font-size: 0.8rem;
}
.box3-txt1, .box3-txt2, .box3-txt3{
    margin-left: 5rem;
}

.name{
    color: gold;
}

.wrap3-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap3-2 img{
    width: 25rem;
    height: 18.75rem;
    float: left;
    margin-top: 2rem;
}

.bottomTxt3{
    width: 25rem;
    height: 12.5rem;
    position: relative;
    overflow: hidden;
    margin-top: 5rem;
    font-size: 1.3rem;
}
.bottomTxt3-1{
    position: absolute;
    width: 18rem;
    color: rgba(255, 192, 98, 81);
}
.bottomTxt3-2{
    position: absolute;
    width: 30rem;
}
.bottomTxt3-3{
    width: 20rem;
    position: absolute;
    color: rgba(235, 156, 63, 72);
}
