

#useTech{
    background-color: black;
    color: white;
    /* margin-top: 5rem; */
    /* margin: 30rem; */
    margin: 15rem;
}

.content5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap5 h1{
    font-size: 3rem;
}