<form action="http://info.sweettracker.co.kr/tracking/4" method="post">
	<div class="form-group">
	   <div class="behind" style="display: none;">
	  <input type="text" class="form-control" id="t_key" name="t_key" value="jrrtLuZYMZrenSVYMTA9Xg">
	</div></div>
	<div class="form-group">
	  <label for="t_code">택배사 코드</label>
	  <input type="text" class="form-control" name="t_code" id="t_code" value="<%= company%>">
	</div>
	<div class="form-group">
	  <label for="t_invoice">운송장 번호</label>
	  <input type="text" class="form-control" name="t_invoice" id="t_invoice" value="<%= number%>">
	</div>
	<button type="submit" class="btn btn-default">정보가 맞습니까?</button>
 </form>
 