<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <form action="/feedback" method="post" class="feedback_form">
            
                <textarea name="feedback" id="feedback-display" cols="70" rows="20" maxlength="200"
                    placeholder="피드백 입력하기"></textarea>
            
                <button type="reset">취소</button>
                <button type="submit" value="submit">등록</button>
            
        </form>
    
</head>
<body>
    
</body>
</html>