@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: black;
    font-family: 'Pretendard-Regular';
}


#main {
    background: url('../img/newback.gif');
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'OTWelcomeRA';
    background-color: #000000;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    gap: 20px;
    width: 100vw;
    padding-top: 5rem;
    /* margin: 0 auto; */
}


h1{
    font-size: 7rem;
    margin: 0;
    z-index: 1;
    font-style: italic;
}
h4{
    margin: 0;
    z-index: 1;
}
button{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    position: relative;
    top: 1.1rem;
    box-shadow: 3px 3px 3px rgb(215, 180, 92);
    border-radius: 1rem;
    width: 100px;
    height: 40px;
    border: 0.01rem;
    font-weight: bold;
}
/* .back{
    z-index: 2;
    position: relative;
    top: -7rem;
    background: url('../img/final2.gif');
    background-size: 100vw 70vh;
    width: 100vw;
    height: 100vh;
} */



