<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <link rel="stylesheet" href="css/navBar.css">
    <link rel="stylesheet" href="css/main.css"> <!--1. main-->
    <link rel="stylesheet" href="css/maininfo.css"> <!--2.mainInfo -->
    <link rel="stylesheet" href="css/productInfo.css"> <!--3. productInfo-->
    <link rel="stylesheet" href="css/test_dev.css"> <!--4. developerInfo-->
    <link rel="stylesheet" href="css/useTech.css"> <!--5. useTech-->
    <link rel="stylesheet" href="css/feedback.css"> <!--6. feedback-->
    <link rel="stylesheet" href="css/scrollsnap.css">

    <title>DeliveryGo</title>
</head>

<body>
    <!--상단 헤더 네비-->
    <header>
        <nav>
            <div class="wrapper" style="width: 1200px; text-align: right;">
                <a class="bar" href="#mainInfo">소개하기</a>
                <a class="bar" href="/">홈화면</a>
                <a class="bar" href="/login">로그인</a>
                <a class="bar" href="/feedback">피드백</a>
            </div>
        </nav>
    </header>

    <!--snap scroll 적용 - 제일 상위 부모-->
    <div class="scroll-box">

        <!--1. main-->
        <!--메인 안내 글씨-->
        <div class="scroll">
            <div id="main">
                <div class="container">
                    <div class="main_box1">
                        <h1 class="animate__animated animate__fadeIn">DeliveryGo</h1>
                    </div>
                    <div class="main_box2">
                        <h4>쉽고 빠른 택배조회 서비스</h4>
                    </div>
                    <div class="main_box3"><button onclick="location.href='/login' ">택배조회</button></div>
                </div>
            </div>
        </div>

        <!--2. mainInfo-->
        <div class="scroll">
            <div id="mainInfo">
                <div class="wrap2">
                    <div class="box2 box2left">
                        <a href="#productInfo" class="tags">
                            <div class="bl_img">
                                <img class="main-ico" src="https://raw.githubusercontent.com/DeliveryGo/front-end/b04db2e18dd71be4158379347280444b2e6b9496/%EC%8B%A0%EC%83%81/img/product.png" alt="택배고 소개">
                            </div>
                            <div class="bl_title">
                                택배고 소개
                            </div>
                            <div class="bl_text">
                                간단한 택배고 소개와<br>지원현황 알아보기
                            </div>
                        </a>
                    </div>
                    
                    <div class="box2 boxcenter">
                        <a href="#developerInfo" class="tags">
                            <div class="bc_img">
                                <img class="main-ico" src="https://raw.githubusercontent.com/DeliveryGo/front-end/b04db2e18dd71be4158379347280444b2e6b9496/%EC%8B%A0%EC%83%81/img/human.png" alt="개발자 소개">
                            </div>
                            <div class="bc_title">
                                개발자 소개
                            </div>
                            <div class="bc_text">
                                차희주 최혜미 홍석현
                            </div>
                        </a>
                    </div>
            
                    <div class="box2 boxright">
                        <a href="#useTech" class="tags">
                            <div class="br_img">
                                <img class="main-ico" src="https://raw.githubusercontent.com/DeliveryGo/front-end/b04db2e18dd71be4158379347280444b2e6b9496/%EC%8B%A0%EC%83%81/img/tech.png" alt="사용기술 소개">
                            </div>
                            <div class="br_title">
                                사용기술 소개
                            </div>
                            <div class="br_text">
                                사용한 기술 설명
                            </div>
                        </a>
                    </div>
            
                </div>
            </div>
        </div>

        <!--3. productInfo-->
        <div class="scroll">
            <div id="productInfo">
                <div class="wrap3-1">
                    <div class="box3">
                        <div class="box3-txt1">
                            <br> What is <span class="name">'DeliveryGo'</span> ?
                            <hr style="width:20%">
                        </div>
                        <div class="box3-txt2">
                            <h2>여러 사이트에서 시킨 택배를 한 눈에 모아보기</h2>
                        </div>
                        <div class="box3-txt3">
                            배송조회를 할 때마다 쇼핑몰사이트에 들어가는게 귀찮으셨나요?
                            <br>걱정마세요 DeliveryGo에서 해결해드립니다!
                        </div>
                    </div>
                </div>

                <div class="wrap3-2">
                    <!--하단 이미지-->
                    <img src="./img/example.png" alt="">

                    <!--하단 글-->
                    <div class="bottomTxt3">
                        <div class="bottomTxt3-1">&nbsp;전화번호 하나로</div><br><br>
                        <div class="bottomTxt3-2">&emsp;&nbsp;택배와 배송 상황을 한눈에 모아보기!</div><br><br>
                        <div class="bottomTxt3-3">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;배송 조회도 간편하게!</div>
                    </div>
                </div>
            </div>
        </div>

        <!--4. developerInfo-->
        <div class="scroll">
            <div id="developerInfo">
                <div class="wrap4">
                    <div class="box4-1">
                        <h2>Developer</h2>
                    </div>
                    <div class="box4-2">
                        <div class="box4 box4left">
                            <a href="" class="tags">
                                <div class="b4l_img">
                                    <img class="box4-ico" src="./img/KakaoTalk_20230414_225540420.jpg" alt="프로필사진">
                                </div>
                                <div class="b4l_title">
                                    차희주
                                </div>
                                <div class="b4l_text">
                                    <ul>
                                        <li>Front-End 메인</li>
                                        <li>UX Design</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        
                        <div class="box4 box4center">
                            <a href="" class="tags">
                                <div class="b4c_img">
                                    <img class="box4-ico" src="./img/KakaoTalk_20230414_225413494.jpg" alt="프로필사진">
                                </div>
                                <div class="b4c_title">
                                    최혜미
                                </div>
                                <div class="b4c_text">
                                    <ul>
                                        <li>Back-End 메인 </li>
                                        <li>UI Design</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                
                        <div class="box4 box4right">
                            <a href="" class="tags">
                                <div class="b4r_img">
                                    <img class="box4-ico" src="./img/KakaoTalk_20230414_225343262.jpg" alt="프로필사진">
                                </div>
                                <div class="b4r_title">
                                    홍석현
                                </div>
                                <div class="b4r_text">
                                    <ul>
                                        <li>Back-End 메인</li>
                                        <li>Front-End 보조</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5. useTech
        <div class="scroll">
            <div id="useTech">
                <div class="content5">
                    <div class="wrap5">
                        <h1></h1>
                    </div>
                </div>
            </div>
        </div> -->

        <!--6. feedback-->
        <div class="scroll">
            <div id="feedback">
                <div class="content6">
                    <div class="content6_top">
                        <p>DeliveryGO의 문제나 건의사항을 알려주세요.</p>
                        <p>피드백을 확인하고 꼼꼼히 읽어보지만,</p>
                        <p>답변 반영에 몇일이 소요되는 점을 양해부탁드립니다.</p>
                    </div>

                    <div class="content6_middle">
                        <form action="#" class="feedback_form">
                            <div class="inputform">
                                <textarea name="opinion" id="feedback-display" cols="70" rows="50" maxlength="200"
                                    placeholder="피드백 입력하기"></textarea>
                            </div>

                            <div class="content6_bottom">
                                <button type="reset">취소</button>
                                <button type="submit">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>