<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=ko">
	<title>New Page</title>
</head>

<body>
	<h1>전화번호 받아서 데이터베이스 조회 가능</h1>
	<form action="/new" method="POST">
		<% if (phone) { %>
			<label for="phone">Phone:</label>
			<input type="text" id="phone" name="phone" value="<%= phone %>" readonly><br><br> <!-- 번호있을때 -->
			<% } else { %>
				<label for="phone">Phone:</label>
				<input type="text" id="phone" name="phone" required><br><br> <!-- 번호없을때 -->
				<% } %>

					<label for="itemname">Item Name:</label>
					<input type="text" id="itemname" name="itemname"><br><br>

					<label for="company">company:</label>
					<input type="text" id="company" name="company" required><br><br> <!-- 번호없을때 -->

					<label for="number">number:</label>
					<input type="text" id="number" name="number" required><br><br> <!-- 번호없을때 -->
					<button type="submit">saveButton</button>

	</form>






</body>

</html>