@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#developerInfo{
    letter-spacing: 0.5px;
    font-family: 'GmarketSansMedium';
    background-color: black;
    background-size:100vw 100vh ;
    color: white;
    text-align: center;

}

.developerInfo-top h1{
    /* margin-top: 5rem; */
    font-family: 'Cafe24Ssurround';
    font-size: 3rem;
}

.developerInfo-top hr{
    width: 6rem; 
    border: 2px solid rgba(255, 245, 0, 67);
}

.wrap4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container4{
    width: 80vw;
    height: 60vh;
    display: grid;
    margin-top: 3rem;
    /* border: 2px solid white; */
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "box1 box4 box7"
    "box2 box5 box8"
    "box3 box6 box9";
}

/*프로필 이미지*/
.developerInfo-ico{
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.developerInfo-item6 ul{
    margin-left: 40px;
}

/*차희주*/
.chj{
    margin-left: 5rem;
    margin-right: 60rem;
    position: absolute;
    background: rgba(83, 81, 81, 0.41);
    border-radius: 20px;
    width: 300px;
    height: 450px;
    box-shadow: 4px 4px 4px 3px rgba(163, 163, 163, 0.8);
}
.developerInfo-item1{grid-area: box1;}
.developerInfo-item2{grid-area: box2;}
.developerInfo-item3{grid-area: box3;text-align: left;}



/*최혜미*/
.chm{
    margin-left: 5rem;
    margin-right: 5rem;
    position: absolute;
    background: rgba(83, 81, 81, 0.41);
    border-radius: 20px;
    width: 300px;
    height: 450px;
    box-shadow: 4px 4px 4px 3px rgba(163, 163, 163, 0.8);
}
.developerInfo-item4{grid-area: box4;}
.developerInfo-item5{grid-area: box5;}
.developerInfo-item6{grid-area: box6;text-align: left;}


/*홍석현*/
.hsh{
    margin-left: 60rem;
    margin-right: 5rem;
    position: absolute;
    background: rgba(83, 81, 81, 0.41);
    border-radius: 20px;
    width: 300px;
    height: 450px;
    box-shadow: 4px 4px 4px 3px rgba(163, 163, 163, 0.8);
}
.developerInfo-item7{grid-area: box7;}
.developerInfo-item8{grid-area: box8;}
.developerInfo-item9{grid-area: box9;text-align: left;}


.developerInfo-item2,.developerInfo-item5,.developerInfo-item8{
    font-size: 1.5rem;
    font-family: 'GmarketSansMedium';
    color: gold;
}


