
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#feedback{
    font-family: 'Pretendard-Regular';
    color: white;
    background-color: black;
    margin: 15rem;
    /* background: url('../img/feedbackBackground.png'); */
    /* background-size: 100vw 100vh; */
    /* width: 100vw; */
    /* height: 100vh; */
}

.content6_top p{
    font-size: 20px;
}


.content6{
    /* margin-top: 7rem; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.inputform{
    width: 500px;
    height: 200px;
    border: 2px solid white;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    /* box-shadow: 1px 3px 3px 3px rgb(137, 137, 137); */

}

.feedback_form{
    border: none;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.inputform textarea{
    border: none;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    color: white;
    background-color: transparent;
    resize: none;

}


.content6_bottom{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content6_bottom button{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    font-size: 17px;
    box-shadow: 3px 3px 0 3px whites;
    font-weight: bold;
}

.content6_bottom button:nth-child(1){
    background-color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px 2px rgb(147, 147, 147);
}

.content6_bottom button:nth-child(2){
    background-color: black;
    color: white;
    border: 0.1px solid white;
    box-shadow: 2px 2px 5px 2px rgb(147, 147, 147);
}

