body{
    color: white;
}

.wrap2{
    margin-top: 3rem; /*margin top*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(83, 81, 81, 0.41);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    gap: 20px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgba(163, 163, 163, 0.8);
}



.wrap2 img{
    margin-top: 2rem;
    width: 100px;
    height: 90px;
}

.tags{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.bl_title, .bc_title, .br_title{
    font-weight: bolder;
    font-size: 20px;
    color: goldenrod;
}