@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'Cafe24Ssurround';
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 1.5625rem;
    padding: 0.5rem;
    background: #000000;
    font-weight: bold;
    display: flex;
    justify-content: end;
    font-size: 20px;
    top: 0;
    font-size: 0.8rem;
}

nav {
    margin-right: 2%;
}
.bar{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
